@model List<ThrumbneilSize>
 

<div class="mainWorcPanel"> 
      <a  asp-action="Create" class="MainButton" >Добавить</a>
</div>
  
<div class="mainPanel">
<table class="table table-border table-condensed">
  <tr>
      <th>Имя</th>
      <th>Ширина</th>
      <th>Высота</th>
      <th>Редактировать</th>
  </tr>
  @foreach (ThrumbneilSize item in Model)
  {
      <tr>
           <td>@item.NameSize</td>
           <td>@item.Width.ToString()</td>
           <td>@item.Height.ToString()</td>
              <td >
                 <form asp-action="RemoveSize"  method="post"> 
                          <button asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-warning">Изменить</button>
                          <input type="hidden" name="Id" value="@item.Id"/>  
                          <button type="submit" class="btn btn-danger btn-sm ">X</button>
                 </form>
              </td>
      </tr>
  
  }
</table>
</div>